<section class="employees">

	<header>
		<h2>Biziň işgärlerimiz</h2>

		<p>Size hemmişe kömek etmäne taýýar adamlar.</p>
	</header>

	<article>
		<img src="images/chary-dayy.jpg" alt="">

		<div class="content">
			<header>
				<h4>Ýazmyradow Çary</h4>

				<p>Baş patron - Ýazmyradow Ç. A.</p>
			</header>
			<p>Ähli söwda meseleleri bilen habarlaşyp bilersiňiz. Ähli söwda meseleleri bilen habarlaşyp bilersiňiz</p>
		</div>

	</article>

	<article>
		<img src="images/rahat.jpg" alt="">

		<div class="content">
			<header>
				<h4>Ýazmyradow Rahat</h4>

				<p>Kiçi patron - Ýazmyradow R. Ç.</p>
			</header>
			<p>Ähli söwda meseleleri bilen habarlaşyp bilersiňiz. Ähli söwda meseleleri bilen habarlaşyp bilersiňiz</p>
		</div>
	</article>

	<article>
		<img src="images/chary-dayy.jpg" alt="">

		<div class="content">
			<header>
				<h4>Ýazmyradow Çary</h4>

				<p>Baş patron - Ýazmyradow Ç. A.</p>
			</header>
			<p>Ähli söwda meseleleri bilen habarlaşyp bilersiňiz. Ähli söwda meseleleri bilen habarlaşyp bilersiňiz</p>
		</div>

	</article>

	<article>
		<img src="images/rahat.jpg" alt="">

		<div class="content">
			<header>
				<h4>Ýazmyradow Rahat</h4>

				<p>Kiçi patron - Ýazmyradow R. Ç.</p>
			</header>
			<p>Ähli söwda meseleleri bilen habarlaşyp bilersiňiz. Ähli söwda meseleleri bilen habarlaşyp bilersiňiz</p>
		</div>
	</article>

</section>