<header>
	<h1>
		<a href="index.html">Flori Kids
			<!--<span class="f-letter">F</span>-->
			<!--<span class="l-letter">l</span>-->
			<!--<span class="o-letter">o</span>-->
			<!--<span class="r-letter">r</span>-->
			<!--<span class="i-letter">i</span>-->
			<!--<span class="k-letter"> K</span>-->
			<!--<span class="i-second-letter">i</span>-->
			<!--<span class="d-letter">d</span>-->
			<!--<span class="s-letter">s</span>-->
		</a>
		<span> egin-eşik dukany</span>
	</h1>

	<nav>
		<ul>
			<li><a href="index.html">Baş sahypa</a></li>
			<li><a href="products.html">Harytlar</a></li>
			<li><a href="contacts.html">Habarlaşmak üçin</a></li>
		</ul>
	</nav>
</header>
