<section class="new-products">

		<header>
			<h2>Biziň täze harytlarymyz</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</header>

		<figure>
			<img src="images/collection1.jpg" alt=""/>
			<figcaption>Täze kolleksiýadan</figcaption>
		</figure>

		<figure>
			<img src="images/collection2.jpg" alt=""/>
			<figcaption>Örän bet zat</figcaption>
		</figure>

		<div class="actions">
			<a class="btn btn-primary" href="#">Zakaz etmek üçin</a>
			<a class="btn btn-default" href="contacts.html">Habarlaşmak üçin</a>
		</div>

</section>