section.about-us {
  .clearfix();

  header {
	.clearheader();

	display: inline-block;
	width: 50%;

	h2 {
	  text-align: left;
	}

	p {
	  text-align: left;
	}
  }

  article {
	display: inline-block;
	width: 50%;
	float: right;

	p {
	  font-size: 1.1em;
	  line-height: 2em;
	  margin-bottom: 2em;
	}
  }
}