section.banner {
  width: 100% !important;
  padding: 13em 0 !important;
  margin: 0 !important;
  color: @lighter-color;
  text-align: center;
  background: @lighter-color;
  background-image: url("../images/overlay.png"), url("../images/kids-clothes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  h2 {
	color: @lighter-color;
	font-size: 4em;
  }

  p {
	color: #AAAAAA;
	font-size: 1.5em;
	margin-bottom: 1.75em;
	text-transform: uppercase;
  }

  a {
	color: @lighter-color;
  }
}