section.employees {
  .clearfix();
  width: 80% !important;

  @media screen and (max-width: @screen-lg) {
	width: 95% !important;
  }

  @media screen and (max-width: @screen-md) {
	margin-bottom: 1em !important;
  }

  header {
	.clearheader();
  }

  .employees-container {
	display: flex;
	flex-direction: column;
  }

  .employees-row {
	display: flex;

	@media screen and (max-width: (@screen-md - 1)) {
	  flex-direction: column;
	}

	article {
	  display: flex;
	  margin: 0 0 0 1em;

	  &:nth-child(odd) {
		flex-direction: row-reverse;
		margin: 0 1em 0 0;

		.content {
		  text-align: right;
		  margin: 0 1.75em 0 0;

		  header {

			p {
			  text-align: right;
			}
		  }
		}
	  }

	  img {
		border-radius: 50%;
		border: solid 0.5em rgba(144, 144, 144, 0.25);
		width: 30%;
		height: 30%;
		max-width: 185px;
		max-height: 185px;
	  }

	  .content {
		margin-left: 1.75em;

		header {
		  margin: 0;

		  p {
			font-size: 0.9em;
			margin-top: -0.6em;
			line-height: 1.5em;
			text-align: left;
		  }
		}

		p {
		  line-height: 2em;
		}
	  }
	}
  }

}