@font-face {
  font-family: 'raleway-bold';
  src: url('@{FONTS_PATH}/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('@{FONTS_PATH}/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}